$primary: #1392ff;
$secondary: #b9bfc4;

$primary_text_color: #555555;
$secondary_text_color: black;

$secondary_text_color_dark: white;

$primary_background: #82c2f9ad;
$secondary_background: #b9bfc4;

$primary_border: #1392ff;
$secondary_border: #838383;

$primary_font: 'Montserrat';
$secondary_font: 'Arvo';
